{% extends "base.html.twig" %}

{% block body %}
  <div style="text-align: center; padding: 20px;">
    <h1 style="color: #3498db;">Bienvenue dans ce blog</h1>

    <div style="margin-top: 20px;">
      <p style="font-size: 18px; line-height: 1.6;">Bienvenue sur notre plateforme dédiée aux articles fascinants.</p>
      <p style="font-size: 18px; line-height: 1.6;">Explorez et découvrez un monde riche en connaissances.</p>
    </div>
  </div>
{% endblock %}